body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 600px;
    height: auto;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background-color: #cc0000;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #0000ff;
}

a:hover {
    text-decoration: underline;
}
#pay{
    margin-top: 3px;
}