<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for_admin</title>
    <link rel="stylesheet" href="static/css/try.css">
</head>
<body>
<div class="di">
    <form method="post">
        <div class="inp">
            <input type="text" name="iname" itemid="iname" placeholder="Enter name"><br>
            <input type="text" name="iprice" itemid="iprice" placeholder="Enter price"><br>
            <input type="text" name="image" itemid="image" placeholder="Load image"><br>
            <input type="text" name="video" itemid="video" placeholder="video"><br>
            <input type="text" name="blenderfile" itemid="blenderfile" placeholder="Blender file"><br>
            <input type="submit" value="Add item"><br>

        </div>
    </form>
    <div class="btn-2">
        <a href="/for admin">
            <button>
                Back
            </button>
        </a>
    </div>
</div>
</body>
</html>