<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deleteitem</title>
    <link rel="stylesheet" href="static/css/try.css">
</head>
<body>
<div class="di">
    <form method="post">
        <div class="inp">
            <input type="text" name="itemid" placeholder="Enter id"><br>
            <input type="submit" value="Delete item"><br>

        </div>
    </form>
    <div class="btn-2">
        <a href="/for admin">
            <button>
                Back
            </button>
        </a>
    </div>
</div>
</body>
</html>