<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for_admin</title>
    <link rel="stylesheet" href="static/css/try.css">
</head>
<body>
    <div class="btnadm">
        <a href="/add">
            <button>
                add item
            </button>
        </a>
    </div>
    <div class="btnadm">
        <a href="/">
            <button>
                To main
            </button>
        </a>
    </div>
    <div class="btnadm">
        <a href="/delete">
            <button>
                delete item
            </button>
        </a>
    </div>

</body>
</html>